{% extends "mainpage.html" %}

{% block sa %}
<br><br><br><h3 style="margin-left: 50px; margin-bottom: 50px;">{{username}} ile Olan Sohbet</h3>
{% for i in mesajlar%}
{% if i.sender == biz%}
<h5  style="position: fixed; right: 50px;">{{i.message}} : {{i.time}}</h5>
<br>
{% elif i.sender == username%}
<h5  style="position: fixed; left: 50px;">{{i.message}} : {{i.time}}</h5>
<br>
{% endif %}
{% endfor %}
<form method="post">
    <div style="margin-left: 50px;">
    <input type="text" name="mesaj" class="form-control" style="position: fixed; bottom: 15px; width: 90.5%;"> <button style="position: fixed; bottom: 15px; position: fixed; right: 0;" class="btn btn-primary" >Gönder</button>
    </div>
</form>
{% endblock sa %}